.phone {
  position: relative;
  height: 750px;
  width: 400px;
  margin: 30px auto;
  margin-top: 0;
  background-image: url(img/iphone.jpg);
  background-repeat: no-repeat;
}

.phone iframe {
  position: absolute;
  top: 135px;
  left: 43px;
}
